# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.log

# Environment
.env

# Flask
instance/
*.db

# Pyrogram session files (if any)
*.session
*.session-journal

# Pillow temp files
*.png

# Downloads folder
Downloads/

# Docker
*.dockerfile
docker-compose.yml

# OS-specific files
.DS_Store
Thumbs.db
